<!-- views/editor.ejs -->
<!doctype html>
<html>
<head>
    <title>Editor</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/railscasts.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>

    <style type="text/css" media="screen">
    body, html {
        padding: 0;
        margin: 0;
    }

    .container {
        display: flex;
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 100vw;
    }

    #editor {
        padding: 0;
        margin: 0;
        height: 100vh;
        width: 50%;
    }

    #preview {
      padding: 0 0.5em;
    }

    .flex {
        flex-grow: 1;
    }
    </style>
</head>
<body>

<div class="container">
  <div id="editor"></div>
  <div id="preview" class="flex"></div>
</div>

<script type="text/javascript" src="/bower_components/ace-builds/src-noconflict/ace.js"></script>
<script type="text/javascript" src="/bower_components/ace-builds/src-noconflict/mode-markdown.js"></script>
<script type="text/javascript" src="/bower_components/ace-builds/src-noconflict/theme-twilight.js"></script>
<script type="text/javascript" src="/bower_components/marked/lib/marked.js"></script>
<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
(function () {
  'use strict';

  var editor = ace.edit('editor');
  editor.setTheme('ace/theme/twilight');
  editor.getSession().setMode('ace/mode/markdown');

  // Config
  document.getElementById('editor').style.fontSize='1em';

  editor.getSession().on('change', function (evt) {
    // Set preview window content
    document.getElementById('preview').innerHTML = marked(editor.getValue());

    // Highlight code blocks
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });

    $('p code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
  }); 
})();
</script>

</body>
</html>

